<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Femtohertz: Live-coded algorithmic space fusion music for aliens and humans.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title> femtohertz - live-coded algorithmic space fusion</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<video id="wrapper" autoplay loop ?wmode=transparent>
<source src="../assets/media/live2.mp4" type="video/mp4">
</video>

<div id="front-title"><h1><a href="http://instagram.com/femtohertz" target="_blank">femtohertz (fHz)</a></h1></div>
<div id="footer">
  <p>
    <a href="http://instagram.com/femtohertz" target="_blank"><img src="../assets/media/social-media_instagram-32.png"></a>
    <a href="http://facebook.com/femtohertz" target="_blank"><img src="../assets/media/social-media_facebook-32.png"></a>
    <a href="http://soundcloud.com/femtohertz" target="_blank"><img src="../assets/media/social-media_soundcloud-32.png"></a>
    <a href="https://www.youtube.com/channel/UCsNWYy5NLfueqBvimrFL73w" target="_blank"><img src="../assets/media/social-media_youtube-32.png"></a>
    <a href="https://femtohertz.bandcamp.com/" target="_blank"><img src="../assets/media/social-media_bandcamp-32.png"></a>
    <a href="https://twitter.com/femtohertz" target="_blank"><img src="../assets/media/social-media_twitter-32.png"></a>
  </p>
</div>
</body>
</html>
